<html lang="en">
	<head>
	    <title>Edit</title>
	</head>
	<body>
		<% if flash[:errors] %>
			<% flash[:errors].each do |e| %>
				<p><%= e %></p>
			<% end %>
		<% end %>
		<h1>Editing Product</h1>
		<%= simple_form_for @product, url: update_path do |f|%>
			<%= f.input :name %>
			<%= f.input :description %>
			<%= f.input :price %>
			<%= f.association :category, as: :select %>
			<%= f.button :submit %>
		<% end %>
		<a href="/products/<%= @product.id %>">Show</a>
		<a href="#" onclick="history.go(-1)">Back</a>
	</body>
</html>

